# {{ ansible_managed }}

sqlalchemy_w = {
    'url': 'postgresql+psycopg2://{{ app_name }}:{{ postgresql_app_user_password }}@127.0.0.1/{{ app_name }}',
    'echo':          False,
    'echo_pool':     False,
    'pool_recycle':  3600,
    'encoding':      'utf-8'
}

sqlalchemy_ro = {
    'url': 'sqlite:///dev_ro.db',
    'echo':          False,
    'echo_pool':     False,
    'pool_recycle':  3600,
    'encoding':      'utf-8'
}
